<body>
  <h1 class="heading">Editing Book</h1>
    <div class="edit-box">
    <%= form_with model:@book, local:true do |book| %>
      <p class="title">Title</p>
      <%= book.text_field :title, class:"field" %>
      <p class="body">Body</p>
      <%= book.text_area :body, class:"field" %>
    </div>
    <div class="actions">
      <%= book.submit "Update Book" %>
    </div>
  <% end %>

  <div class="edit-link">
    <%= link_to "Show", book_path(params[:id]), class:"link" %>
    |
    <%= link_to "Back", books_path, class:"link" %>
  </div>
</body>